{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'Info_condition_list' %}">Condition Listing</a></p>
<table class="table">
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>insurance_condition</td><td>{{ object.insurance_condition }}</td></tr>
<tr><td>insurance_date</td><td>{{ object.insurance_date }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Condition</a>

{% endblock %}