{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'Info_prices_list' %}">Prices Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>created</td>
    <td>last_updated</td>
    <td>value</td>
    <td>weight_value</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.value }}</td>
    <td>{{ object.weight_value }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'Info_prices_create' %}">Create new Prices</a>
{% endblock %}